* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
	font-family: 'gothambold';
	src: local('gothambold'), url('./fonts/gothambold.woff') format('woff');
}

@font-face {
	font-family: 'aptosLight';
	src: local('aptosLight'), url('./fonts/aptos-light.woff') format('woff');
}